{{#partial "content"}}

    <header>
        <div class="container">
            <div class="site-header">
                <a class="logo" href="../../">SparkBlog</a>
                <a class="new-entry button button-round" href="../../new"><i class="material-icons">create</i></a>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="edit-entry">
                <h2>Edit Entry</h2>
                <form action="/{{entry.slug}}/edit" method="post">

                    <label for="title"> Title</label>
                    <input type="text" name="title" value={{entry.title}}><br>

                    <label for="text">Entry</label>
                    <textarea rows="5" name="text">{{entry.text}}</textarea>

                    <input type="submit" value="Save Entry" class="button">
                    <a href="#" class="button button-secondary">Cancel</a>

                </form>
            </div>
        </div>
    </section>

{{/partial}}

{{>base.hbs}}