{{#partial "content"}}

    <header>
        <div class="container">
            <div class="site-header">
                <a class="logo" href="../">SparkBlog</a>
                <a class="new-entry button button-round" href="new"><i class="material-icons">create</i></a>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="password">
                <form action="/password" method="post">

                    <label for="username">Enter Username</label>
                    <input type="text" name="username">

                    <label for="password">Enter Password</label>
                    <input type="password" name="password"><br>

                    <input type="hidden" name="redirectTo" value={{redirectTo}}><br>
                    <input type="hidden" name="slug" value={{slug}}><br>

                    <input type="submit" value="Submit" class="button">
                    <a href="/" class="button button-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </section>
{{/partial}}

{{>base.hbs}}